.sidePanel {
  width: 4rem;
  height: 100%;
  background: #2a3b45;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 6rem;
  }

  &__logo {
    width: 2.3rem;
    height: 2.3rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    transition: background 0.3s;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: #99a0a7;
      cursor: pointer;
      transition: fill 0.3s;

      &:hover {
        fill: #fff;
      }
    }

    &--active {
      background: #3d4a58;

      svg {
        fill: #36d28a;
      }
    }
  }
}
