.takes-group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(50% - 1.5rem);
  max-height: calc(50% - 1.5rem);

  &__module {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background: #e3e3e3;
    border: 1px solid #cacaca;
    padding: 1rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    &--masterview {
      height: calc(100% - 9rem);
    }

    &__body {
      height: calc(100% - 3rem);
      display: flex;
      flex-direction: column;
      // justify-content: start;
      align-items: flex-start;
      gap: 1rem;
      overflow-y: auto;

      &--scroll {
        margin-right: -0.4rem;
      }
    }

    &__item {
      width: 100%;
      height: 2.5rem;
      display: flex;
      position: relative;

      &__name {
        min-width: 6rem;
        margin: auto;
        font-weight: bold;
        color: #53585f;
      }

      &__combo {
        position: relative;
        background: #afd1db;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #202020;
        font-size: 1.2rem;
      }
      &__btn {
        &__group {
          width: 20%;
          display: flex;
          justify-content: space-evenly;
        }
      }

      &__handle {
        position: absolute;
        cursor: move;
        left: 0rem;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
      }

      &__delete {
        position: absolute;
        cursor: pointer;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        left: 2.25rem;
        top: 50%;
        z-index: 3;
        fill: #474747;

        transition: fill 0.2s;
        &:hover {
          fill: #ff7272;
        }
      }
    }

    &__group {
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
