.settingsModal {
  width: 76vw;
  height: 76vh;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;

  &__close {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    flex: 0 0 auto;
    margin-bottom: 1.5rem;
    color: #494949;
  }

  &__body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 3.5rem);
    gap: 2rem;
  }

  &__version {
    display: flex;
    gap: 1rem;
    position: relative;

    &::after {
      content: '';
      border-bottom: 1px solid rgb(240, 240, 240);
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: -1rem;
    }

    &__title {
      color: #21d17f;
    }

    &__number {
      letter-spacing: 5px;
    }
  }

  &__licence {
    display: flex;
    gap: 1rem;
    text-align: justify;
    text-justify: inter-word;
    height: calc(100% - 3.5rem);

    &__title {
      color: #21d17f;
    }

    &__content {
      overflow-y: auto;
      height: 100%;
      padding-right: 1rem;
    }
  }
}
