.confirmDelete {
  width: 20rem;
  height: 8rem;
  padding: 1rem;
  position: relative;

  &__close {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
  }

  &__title {
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    flex: 0 0 auto;
  }

  &__btn {
    width: 2.5rem;
    height: 2.5rem;

    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: #fff;
    background: #36d28a !important;
    border: none;
    outline: none;
    border-radius: 0.3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background: #2caf72;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 100% !important;
}
