.schemePanel {
  width: 13rem;
  height: 100%;
  box-shadow: 2px 1px 5px -1px rgba(0, 0, 0, 0.34);

  padding: 0.6rem;
  position: relative;

  &__title {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: start;
    color: #494949;

    border-bottom: 1px solid #dbdbdb;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    height: calc(100% - 3rem);
    overflow-y: auto;
  }

  &__item {
    width: 90%;
    min-height: 2rem;
    border-radius: 0.2rem;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    padding-left: 1rem;
    padding-right: 0.6rem;
    gap: 0.5rem;
    font-size: 0.9rem;
    transition: all 0.3s;

    justify-content: space-between;

    &__name {
      // white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__group {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      overflow: hidden;
    }

    &__icon {
      height: 0.5rem;
      min-height: 0.5rem;
      width: 0.5rem;
      min-width: 0.5rem;
      fill: #acacac;
      transition: all 0.3s;
    }

    &__oicon {
      width: 1rem;
      height: 1rem;
      fill: #acacac;
      cursor: pointer;
      transition: all 0.2s;

      opacity: 0;
      visibility: hidden;

      &--trash {
        &:hover {
          fill: #ff7171;
        }
      }

      &--edit {
        &:hover {
          fill: #ffd13b;
        }
      }
    }

    &:hover {
      background: #ebf6fc;

      .schemePanel__item__oicon {
        visibility: visible;

        opacity: 1;
      }
    }

    &--active {
      background: #ebf6fc;
      color: #03b172;
      .schemePanel__item__icon {
        fill: #03b172;
      }
    }
  }

  &__empty {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 0.8rem;
    text-align: center;
    color: #9e9e9e;
  }
}
