.header {
  background: #fff;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-size: 1.8rem;
  border-bottom: 1px solid rgb(219, 219, 219);

  display: flex;
  justify-content: center;

  &__title {
    position: relative;
    &__icon {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      cursor: pointer;
      left: -1.75rem;
      transform: translateY(calc(50% + 1px));

      &--save {
        fill: #bbbbbb;
      }
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: #6563ff;
    cursor: pointer;
    position: absolute;
    right: 1rem;

    transition: fill 0.3s;
    &:hover {
      fill: #4341ce;
    }
  }
}
