@font-face {
  font-family: "Russo One";
  src: URL("../fonts/RussoOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: URL("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: URL("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: URL("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

