.notes {
  &__nav {
    display: flex;
    gap: 0.5rem;
    border-top: 1px solid #cacaca;
    padding-top: 0.25rem;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 1.8rem;
      width: 8rem;
      font-weight: bold;
      background: #d5d6e1;
      color: #53585f;

      &:hover {
        background: #c8c9d4 !important;
      }

      &--active {
        background: #698cab;
        color: #fff;

        &:hover {
          background: #698cab !important;
        }
      }
    }

    &__icon {
      height: 1.1rem;
      width: 1.1rem;
      fill: #6563ff;
      cursor: pointer;
    }
  }
}
