.ml1 {
  margin-left: 1rem;
}

.ml05 {
  margin-left: 0.5rem;
}

.sorting {
  .main-panel__item,
  .indy-station__nav__item,
  .masterview__nav__item,
  .notes__nav__item,
  .uni-summary__node {
   cursor: initial;
  }
}
////////////////////////////////////////////
// .green {
//   color: $light-green;
// }

// .dark-green {
//   color: $dark-green;
// }

// .dark-green-bg {
//   background: $dark-green !important;
// }

// .green-background {
//   background: $light-green !important;
// }

// .red {
//   color: $light-red;
// }

// .red-background {
//   background: $light-red !important;
// }

// .blue {
//   color: $light-blue;
// }

////////////////////////////////////////////

.center {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.textAlignCenter {
  text-align: center;
}

.textAlignStart {
  text-align: start;
}

.alignYdown {
  transform: translateY(50%);
}

.flexy {
  display: flex;
}

.flexyFill {
  flex: 1;
}

.flexStart {
  align-self: self-start;
}

////////////////////////////////////////////

.pointing {
  cursor: pointer;
}

.hide {
  opacity: 0;
}

.displayNone {
  display: none;
}

.pointerEventNone {
  pointer-events: none;
}

.indexHide {
  z-index: -10;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}

.togray {
  background: #b3b3b3 !important;
}

.tored {
  background: rgb(255, 162, 162) !important;
}

.flip {
  transform: rotate(180deg);
}
