.workstation {
  flex: 1;
  overflow: hidden;
  &__empty {
    font-size: 1.8rem;
    color: #212327;
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
    height: calc(100% - 2.7rem);
    color: #53585f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
